<% @dialogues.each do |dialogue| %>
  <div>
    <%= dialogue.id %>
  </div>
<%end %>

<div class="absolute bottom-16 right-16 rounded-lg bg-blue-700 text-white cursor-pointer px-2 py-1 z-10">
  <%= link_to "+ message", new_dialogue_path %>
</div>