<div class="flex justify-center items-center" style="min-height: calc(100vh - 95px)">
  <div>
    <h2>New message</h2>
    <form class="border-2 border-gray-300 w-80 p-2">
      <div>
        To:
      </div>
      <select class="block my-2 w-full bg-inherit">
        <option value="1">First user</option>
        <option value="2">Second user</option>
        <option value="3">Third user</option>
      </select>
      <div>
        Message:
      </div>
      <textarea class="block w-full mt-2 bg-inherit">
      </textarea>
      <button type="submit" class="bg-blue-700 text-white mt-4 py-1 px-2">Send it!</button>
    </form>
  </div>
</div>
